@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

body {
  background-color: #303030;
}

.box-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 25px;
}
